.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: #272727;
    min-height: 250px;
    padding: 10px 0px 25px 0px;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    .footer-wrap {
        justify-content: center;
        @media only screen and (max-width: 600px) {
            padding-top: 0!important;
        }
    }
    .container {
        @media only screen and (max-width: 600px) {
            padding: 0px 0px 0px 20px;
        }
    }
    .upper-links {
        display: flex;
        width: 47%;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
        .colums {
            width: 100%;
        }
    }
    .bottom-links {
        display: flex;
        width: 47%;
        @media only screen and (max-width: 767px) {
            gap: 1rem;
        }
        @media only screen and (max-width: 600px) {
            flex-direction: column;
            width: 100%;
        }
        .colums {
            width: 100%;
        }
    }
    .bottom-links div:last-child {
        padding-left: 4rem;
        @media only screen and (max-width: 600px) {
            padding-left: 0rem;
        }
    }
    .row {
        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }
    }
    .footer-mbl {
        display: none;
        width: 100%;
        margin-bottom: -6rem;
        @media only screen and (max-width: 600px) {
            display: block;
        }
    }
    .footer-logo {
        p {
            font-size: 3rem;
        }
        @media only screen and (max-width: 600px) {
            position: absolute;
            bottom: 6rem;
            left: 2rem;
        }
        p {
            @media only screen and (max-width: 600px) {
                font-size: 3rem;
            }
        }
    }
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 2.4rem;
    color: #F63379;
    @media only screen and (max-width: 767px) {
        font-size: 2.4rem;
    }
}

footer p {
    font-size: 1.8rem;
    color: #fff;
    padding-bottom: 0px;
    margin-bottom: 8px;
    font-weight: 400;
    @media only screen and (max-width: 600px) {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 4px;
    }
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 59px 0px;
    @media only screen and (max-width: 768px) {
        padding: 0px;
    }
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
    margin-bottom: 2rem;
    font-weight: 400;
    @media only screen and (max-width: 600px) {
        margin-bottom: 1rem;
        font-weight: normal;
    }
}

.footer_ul_amrc li a {
    color: #fff;
    font-size: 1.8rem;
    @media only screen and (max-width: 600px) {
        font-size: 2rem;
        font-weight: normal;
    }
}

.bottom-links {
    .footer_ul_amrc li a {
        color: #DDDDDD;
        font-size: 1.4rem;
        @media only screen and (max-width: 600px) {
            font-size: 2rem;
            font-weight: normal;
        }
    }
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li {
    color: #cccc;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.footer {
    position: relative;
    z-index: 1;
    .footer-shape {
        position: absolute;
        bottom: -6rem;
        width: 100%;
        @media only screen and (max-width: 600px) {
            display: none;
        }
        .ft-shape {
            width: 100%;
        }
    }
    .container .row {
        @media only screen and (max-width: 600px) {
            padding-left: 1rem;
        }
    }
}