.pt-64 {
    padding-top: 6.4rem;
}

.pb-90 {
    padding-bottom: 9rem;
}

.pb-15 {
    padding-bottom: 15rem;
}

.py-64 {
    padding: 9rem 0;
}

.pt-100 {
    padding-top: 10rem;
}

.ptb-64 {
    padding: 6.4rem 0;
}

.position-r {
    position: relative;
    z-index: 200!important;
}

.heading-x-lg {
    font-size: 7rem;
    font-weight: 700;
}

.heading-lg {
    font-size: 6rem;
    font-weight: 600;
}

.heading-md {
    font-size: 4rem;
    font-weight: 600;
}

.heading-sm {
    font-size: 3rem;
    font-weight: 600;
}

.heading-sm-2 {
    font-size: 3.5rem;
    font-weight: 600;
}

.heading-x-sm {
    font-size: 2rem;
    font-weight: 500;
}

.heading-x-ssm {
    font-size: 1.8rem;
    font-weight: 600;
}

.heading-xx-sm {
    font-size: 1.8rem;
    font-weight: 400;
}

.meet-team-heading {
    font-size: 2.4rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}